.about_header {
  padding-top: 0;
  border-radius: 0 0 10px 10px;
}
.about_header > h1 {
  text-align: center;
  padding: 10px 20px;
  font-family: "EB Garamond", serif;
  font-size: 300%;
}
.about_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
}

.about_content > img {
  width: 90%;
  border-radius: 10px;
}
.about_content > p {
  text-align: center;
  line-height: 1.6;
  font-family: "EB Garamond", serif;
  font-size: 130%;
  padding: 1% 5%;
  /* border: 1px solid black; */
  border-radius: 2px;
}
.about_content > span {
  width: 220%;
}
@media (max-width: 776px) {
  .about_content {
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: 5%;
  }
  .about_content > img {
    width: 100%;
    border-radius: 10px;
  }
}
@media (max-width: 426px) {
  .about_header > h1 {
    font-size: 200%;
  }
  .about_content > p {
    text-align: center;
    line-height: 1.6;
    font-family: "EB Garamond", serif;
    font-size: 130%;

   
    border-radius: 2px;
  }
  .about_content {
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: 5%;
  }
  .about_content > p {
    font-size: 100%;
  }
  .about_content > span {
    width: 80%;
  }
  .about_content > img {
    width: 100%;
    border-radius: 10px;
  }
}

